{% extends "faultquakes/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-members' member.uploaded_by.username %}">{{ member.uploaded_by }}</a>
                <small class="text-muted">{{ member.date_posted|date:"d F, Y" }}</small>
                {% if member.uploaded_by == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'member-update' member.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'member-delete' member.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 class="article-title">{{ member.name }}</h2>
                    <img src="{{ member.image.url }}" alt="{{ member.name }}">
                </div>
                <div class="col-md-7 mt-5 ml-3">
                    <p class="article-content">{{ member.status }}</p>
                    {% if member.office %}
                        <p class="article-content">Office number: {{ member.office }}</p>
                    {% endif %}
                    {% if member.email %}
                        <p class="article-content">Email: {{ member.email }}</p>
                    {% endif %}
                    {% if member.www %}
                        <p class="article-content">WWW: {{ member.www }}</p>
                    {% endif %}
                    {% if member.description %}
                        <p class="article-content">Description: {{ member.description }}</p>
                    {% endif %}
                    {% if member.mobile %}
                        <p class="article-content">Mobile phone number: {{ member.mobile }}</p>
                    {% endif %}
                </div>
            </div>
    </article>
    </article>
{% endblock content %}