{% extends "faultquakes/base.html" %}

{% block content %}



    <div class="row">

        <div class="container col-md-4">

            <h4><h4><a href="{% url 'geodesy' %}">Geodesy</a></h4></h4>
            <p class="article-content">Geodesy also known as geodetics, is the earth science of accurately measuring and understanding three of Earth's fundamental properties: its geometric shape, orientation in space, and gravitational field. The field also incorporates studies of how these properties change over
                time and equivalent measurements for other planets (known as planetary geodesy).
                Geodynamical phenomena include ...</p><a href="{% url 'geodesy' %}">read more about geodesy...</a>

        </div>



        <div class="container col-md-4">

            <h4><a href="{% url 'modeling' %}">Modeling</a></h4>
            <p>Geologic modelling, Geological modelling or Geomodelling is the applied science of creating computerized
                representations of portions of the Earth's crust based on geophysical and geological observations made on
                and below the Earth surface. A Geomodel is the numerical equivalent of a three-dimensional geological map
                complemented by a description of physical quantities in the domain of interest. Geomodelling is related to
                the concept of Shared Earth Model;[2] which is a multidisciplinary, interoperable and updatable knowledge
                base about the subsurface...</p><a href="{% url 'modeling' %}">read more about modeling...</a>
        </div>
        <div class="container col-md-4">
            <h4><a href="{% url 'rock' %}">Rock Mechanics</a></h4>
            <p>Rock mechanics is a theoretical and applied science of the mechanical behavior of rock and rock masses;
                compared to geology, it is that branch of mechanics concerned with the response of rock and rock masses
                to the force fields of their physical environment.
                Rock mechanics forms part of the much broader subject of geomechanics,
                which is concerned with the mechanical responses of all geological materials,
                including soils... </p><a href="{% url 'rock' %}">read more about rock mechanics...</a>
        </div>





    </div>



{% endblock content %}